@font-face {
  font-family: 'FONTEPRINCIPAL';
  src: url('Fonte/AppleGaramond-Italic.ttf') format('truetype');
}

body{
  background-color: #98E9FF;
  color:white;
}

h1{
  font-family: 'FONTEPRINCIPAL';
  text-shadow: 1px 2px 3px black;
}

p{
  font-family: 'FONTEPRINCIPAL';
  text-shadow:1px 2px 3px black;
}


input{
  width:150px;
  height:100px;
  margin:10px;
}

.Conteiner{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}