 h1{
  text-align: center;
  color:white;
  text-shadow:2px 2px 2px black;
  
}


.Container{
  margin:10px;
  border-radius:50px;
  box-shadow: 1px 2px 3px black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width:600px;
  height:900px;
  background-color: wheat;
  margin:auto;
  padding:10px;
}

section{
  display:flex;
  flex-wrap:wrap;
}

button{
  margin:auto;
  width:100px;
  height:100px;
}